body,
    h1 {
        font-family: "Raleway", Arial, sans-serif
    }

    h1 {
        letter-spacing: 6px
    }

.w3-row-padding img {
    margin-bottom: 12px
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.col1 {
    text-align: right
}

.col2 {
    text-align: left
}

.sticky+.content {
    padding-top: 60px;
}

.active {
    background-color: #969696;
    color: white;
}

.btn {
    background-color: #c1c1c1;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: #999999;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #5eff60;
    opacity: 0.85;
    color: #009901;
    border-width: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    border-color: #009e02;
    bottom: 30px;
    font-size: 17px;
}

#snackbarFalse {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #ff4242;
    opacity: 0.85;
    color: #700000;
    border-width: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    border-color: #9b0000;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbarFalse.showFalse {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 0.85;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 0.85;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 0.85;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 0.85;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/*.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/

.icon-bar a {
    text-align: center;
    padding: 16px;
    border-radius: 25px;
    transition: all 0.3s ease;
    color: #9c9c9c;
    font-size: 30px;
}

.icon-bar a:hover {
    background-color: #c1c1c1;
    color: #ffffff;
}